<div class="container">
  <div class="card" style="width: 40rem;">
    <div class="container">


  <form [formGroup]="addEditForm" >
    <div class="row form-group">
      <span class ="col-sm-2">First Name:</span>
      <span class="col-sm-4">
          <input class="form-control"
          type="text"
          formControlName="firstName"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First name is required.</div>
              <div *ngIf="f.firstName.errors.minlength">First name must be at least 8 characters.</div>
              <div *ngIf="f.firstName.errors.maxlength">First name must be at most 35 characters.</div>
              <div *ngIf="f.firstName.errors.pattern">First name can only be letters.</div>
          </div>
      </span>
    </div>

    <div class="row form-group">
      <span class ="col-sm-2">Last Name:</span>
      <span class="col-sm-4">
          <input class="form-control"
          type="text"
          formControlName="lastName"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last name is required.</div>
              <div *ngIf="f.lastName.errors.minlength">Last name must be at least 8 characters.</div>
              <div *ngIf="f.lastName.errors.maxlength">Last name must be at most 35 characters.</div>
              <div *ngIf="f.lastName.errors.pattern">Last name can only be letters.</div>
          </div>
      </span>
    </div>

    <div class="row form-group">
        <span class ="col-sm-2">Address:</span>
        <span class="col-sm-4">
            <input class="form-control"
            type="text"
            formControlName="address"
            [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required.</div>
                <div *ngIf="f.address.errors.minlength">Address must be at least 10 characters.</div>
                <div *ngIf="f.address.errors.maxlength">Address must be at most 50 characters.</div>
                <div *ngIf="f.address.errors.pattern">Address can only be letters or numbers.</div>
            </div>
        </span>
      </div>

      <div class="row form-group">
        <span class ="col-sm-2">City:</span>
        <span class="col-sm-4">
            <input class="form-control"
            type="text"
            formControlName="city"
            [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required.</div>
                <div *ngIf="f.city.errors.minlength">City must be at least 5 characters.</div>
                <div *ngIf="f.city.errors.maxlength">City must be at most 50 characters.</div>
                <div *ngIf="f.city.errors.pattern">City can only be letters.</div>
            </div>
        </span>
      </div>

      <div class="row form-group">
        <span class ="col-sm-2">State:</span>
        <span class="col-sm-4">
            <!-- <input class="form-control"
            type="text"
            formControlName="state"
            [ngClass]="{ 'is-invalid': submitted && f.state.errors }"> -->
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
              <option value="AL">AL</option>
              <option value="AK">AK</option>
              <option value="AR">AR</option>	
              <option value="AZ">AZ</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DC">DC</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="IA">IA</option>	
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="MA">MA</option>
              <option value="MD">MD</option>
              <option value="ME">ME</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MO">MO</option>	
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="NC">NC</option>	
              <option value="NE">NE</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>			
              <option value="NV">NV</option>
              <option value="NY">NY</option>
              <option value="ND">ND</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VT">VT</option>
              <option value="VA">VA</option>
              <option value="WA">WA</option>
              <option value="WI">WI</option>	
              <option value="WV">WV</option>
              <option value="WY">WY</option>
            </select>	
            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                <div *ngIf="f.state.errors.required">State is required.</div>
                <div *ngIf="f.state.errors.minlength">State must be at least 2 characters.</div>
                <div *ngIf="f.state.errors.maxlength">State must be at most 2 characters.</div>
                <div *ngIf="f.state.errors.pattern">State can only be letters.</div>
            </div>
        </span>
      </div>

        <div class="row form-group">
            <span class ="col-sm-2">Zip:</span>
            <span class="col-sm-4">
                <input class="form-control"
                type="text"
                formControlName="zip"
                [ngClass]="{ 'is-invalid': submitted && f.zip.errors }">
                <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                    <div *ngIf="f.zip.errors.required">Zip/Postal Code is required.</div>
                    <div *ngIf="f.zip.errors.minlength">Zip/Postal must be at least 5 characters.</div>
                    <div *ngIf="f.zip.errors.maxlength">Zip/Postal must be at most 9 characters.</div>
                    <div *ngIf="f.zip.errors.pattern">Zip/Postal can only be numbers.</div>
                </div>
            </span>
          </div>

          <hr>

          <div class="row form-group">
              <span class ="col-sm-2">Home Phone:</span>
              <span class="col-sm-4">
                  <input class="form-control"
                  type="text"
                  formControlName="homePhone"
                  [ngClass]="{ 'is-invalid': submitted && f.homePhone.errors }">
                  <div *ngIf="submitted && f.homePhone.errors" class="invalid-feedback">
                      <div *ngIf="f.homePhone.errors.required">Home Phone is required.</div>
                      <div *ngIf="f.homePhone.errors.minlength">Home Phone must be at least 10 characters.</div>
                      <div *ngIf="f.homePhone.errors.maxlength">Home Phone must be at most 10 characters.</div>
                      <div *ngIf="f.homePhone.errors.pattern">Home Phone can only be numbers.</div>
                  </div>
              </span>
            </div>

            <div class="row form-group">
                <span class ="col-sm-2">Cell Phone:</span>
                <span class="col-sm-4">
                    <input class="form-control"
                    type="text"
                    formControlName="cellPhone"
                    [ngClass]="{ 'is-invalid': submitted && f.cellPhone.errors }">
                    <div *ngIf="submitted && f.cellPhone.errors" class="invalid-feedback">
                        <div *ngIf="f.cellPhone.errors.required">Cell Phone is required.</div>
                        <div *ngIf="f.cellPhone.errors.minlength">Cell Phone must be at least 10 characters.</div>
                        <div *ngIf="f.cellPhone.errors.maxlength">Cell Phone must be at most 10 characters.</div>
                        <div *ngIf="f.cellPhone.errors.pattern">Cell Phone can only be numbers.</div>
                    </div>
                </span>
              </div>
              <div class="row form-group">
                  <span class ="col-sm-2">Email:</span>
                  <span class="col-sm-4">
                      <input class="form-control"
                      type="text"
                      formControlName="email"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required.</div>
                          <div *ngIf="f.email.errors.minlength">Email must be at least 10 characters.</div>
                          <div *ngIf="f.email.errors.maxlength">Email must be at most 50 characters.</div>
                          <div *ngIf="f.email.errors.email">Email is in wrong format.</div>
                      </div>
                  </span>
                </div>
  
                <span>
                    <button (click)="onSubmit()" class="btn btn-primary">Save</button>
                    <a href="/employeeList" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
                
                  </span>
    </form>
  </div>
  </div>

</div>
