/* form{
    margin:12px -159px 10px 65px
} */

#line{
    margin-right: 233px;
}

.background{
    background-position: center;
    background-color: grey;
    
    
}
.panel-heading{
    margin: auto
}

h6{
    font-weight: bold;
    color: white; 
    margin-left:37%;
}