
<div class="container">
<br>
<div class="buttonColumn">
<span (click)="showSection()" class={{buttonClass}} role="button" aria-pressed="true">{{buttonName}}</span></div>
<table class="table table-hover">
<thead class="thead-light">
<tr>
    <th>Name</th>
    <th>Email</th>
    <th *ngIf="isClicked"></th>
</tr>
</thead>
<tbody >
  <tr *ngFor = "let employee of employees;">
    <td ><a style= color:black [routerLink]="['/edit', employee.id]" >{{employee.firstName + " " + employee.lastName}}</a></td>
    <td><a style= color:black [routerLink]="['/edit', employee.id]" >{{employee.email}}</a></td>
    <td *ngIf="isClicked">
      <button class='trashCan' (click)="onDeleteEmployee(employee.id)">
        <i class="fa fa-trash-o"></i>
      </button>
    </td>

  </tr>
</tbody>
</table>
</div>
